@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="hero flex items-center">
    <div class="container">
        <div class="welcome flex items-center">
            <span>Welcome to</span>
            <img src="~/Content/icons/logo_2.jpg" alt="">;
        </div>
        <h1>Bangladesh's best <span>book Buying</span> website</h1>
        <p>Why use BookHub? BookHub helps you buy all kinds of books including textbook for the most money by comparing offers from over 30 book buyback vendors with a ...</p>
        <div>
            <button class="btn btn-primary">Read More</button>
            <button class="btn btn-secondary">Shop Now</button>
        </div>
        <div class="hero-image">
            <!-- <img src="images/straw.png" alt=""> -->
        </div>
    </div>
</header>

<section class="top-products">
    <div class="container">
        <h1 class="section-heading">Top Books</h1>
        <div class="slider">
            <button class="slider-btn prev-btn"><img src="~/Content/icons/pre.svg" alt=""></button>
            <button class="slider-btn next-btn"><img src="~/Content/icons/next.svg" alt=""></button>

            <div class="book-slider flex">
                <div class="book-card magic-shadow-sm">
                    <div class="product-image flex items-center justify-center">
                        <img src="~/Content/images/book1.jpg" alt="">
                    </div>
                    <hr>

                    <div>
                        <h2 class="text-center">কৃষ্ণপক্ষ</h2>
                        <div class="stars flex justify-center items-center">
                            <img src="~/Content/icons/start-filled.svg" alt="">
                            <img src="~/Content/icons/start-filled.svg" alt="">
                            <img src="~/Content/icons/start-filled.svg" alt="">
                            <img src="~/Content/icons/star-grey.svg" alt="">
                            <img src="~/Content/icons/star-grey.svg" alt="">
                        </div>

                        <div class="price text-center">
                            ৳ 200
                        </div>
                        <div class="flex justify-center">
                            <button>
                                <img src="~/Content/icons/cart-2.svg" alt="">
                                <span>Add to cart</span>

                            </button>
                        </div>
                    </div>
                </div>

                <div class="book-card magic-shadow-sm">
                    <div class="product-image flex items-center justify-center">
                        <img src="~/Content/images/book2.jpg" alt="">
                    </div>
                    <hr>

                    <div>
                        <h2 class="text-center">রহস্য গল্প</h2>
                        <div class="stars flex justify-center items-center">
                            <img src="~/Content/icons/start-filled.svg" alt="">
                            <img src="~/Content/icons/start-filled.svg" alt="">
                            <img src="~/Content/icons/start-filled.svg" alt="">
                            <img src="~/Content/icons/star-grey.svg" alt="">
                            <img src="~/Content/icons/star-grey.svg" alt="">
                        </div>

                        <div class="price text-center">
                            ৳ 200
                        </div>
                        <div class="flex justify-center">
                            <button>
                                <img src="~/Content/icons/cart-2.svg" alt="">
                                <span>Add to cart</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="book-card magic-shadow-sm">
                    <div class="product-image flex items-center justify-center">
                        <img src="~/Content/images/book3.jpg" alt="">
                    </div>
                    <hr>

                    <div>
                        <h2 class="text-center"> সোনার কেল্লা</h2>
                        <div class="stars flex justify-center items-center">
                            <img src="~/Content/icons/start-filled.svg" alt="">
                            <img src="~/Content/icons/start-filled.svg" alt="">
                            <img src="~/Content/icons/start-filled.svg" alt="">
                            <img src="~/Content/icons/star-grey.svg" alt="">
                            <img src="~/Content/icons/star-grey.svg" alt="">
                        </div>

                        <div class="price text-center">
                            ৳ 200
                        </div>
                        <div class="flex justify-center">
                            <button>
                                <img src="~/Content/icons/cart-2.svg" alt="">
                                <span>Add to cart</span>

                            </button>
                        </div>

                    </div>


                </div>
                <div class="book-card magic-shadow-sm">
                    <div class="product-image flex items-center justify-center">
                        <img src="~/Content/images/book4.jpg" alt="">
                    </div>
                    <hr>

                    <div>
                        <h2 class="text-center"> বাদশাহী আংটি</h2>
                        <div class="stars flex justify-center items-center">
                            <img src="~/Content/icons/start-filled.svg" alt="">
                            <img src="~/Content/icons/start-filled.svg" alt="">
                            <img src="~/Content/icons/start-filled.svg" alt="">
                            <img src="~/Content/icons/star-grey.svg" alt="">
                            <img src="~/Content/icons/star-grey.svg" alt="">
                        </div>

                        <div class="price text-center">
                            ৳ 200
                        </div>
                        <div class="flex justify-center">
                            <button>
                                <img src="~/Content/icons/cart-2.svg" alt="">
                                <span>Add to cart</span>

                            </button>
                        </div>

                    </div>


                </div>


            </div>

        </div>
        <div class="text-center btn-wrapper">
            <button class="btn btn-secondary">View More</button>
        </div>
    </div>
</section>

<section class="about-fresh-arrival">
    <div class="container">
        <h1 class="section-heading">About Fresh Arrival</h1>
        <div class="about-fresh-arrival-wrap flex">
            <div class="flex-1">
                <img src="~/Content/images/fresh-arrival.jpg" alt="">
            </div>
            <div class="flex-1">
                <h2>মেলায় নওশাদ জামিলের বই ‘প্রার্থনার মতো একা’</h2>
                <p>
                    সদ্য প্রকাশিত এ বই নিয়ে নওশাদ বলেন, চার বছর পর প্রকাশিত হলো আমার কবিতার বই ‘প্রার্থনার মতো একা’। বইটিতে গত ৪ বছরে লেখা পছন্দের কবিতাগুলো রাখা হয়েছে। এটি আমার চতুর্থ কবিতার বই।
                    নওশাদ জামিলের জন্ম ময়মনসিংহের ভালুকায়। এক দশক ধরে কাজ করছেন দৈনিক কালের কণ্ঠের বার্তা বিভাগে, সিনিয়র রিপোর্টার হিসেবে।
                </p>
                <button class="btn btn-secondary">Read More</button>
            </div>
        </div>
    </div>
</section>

<section class="our-services">
    <div class="container">
        <h1 class="section-heading">Our services</h1>
        <div class="card-wrapper flex">
            <div class="service-card magic-shadow-sm">
                <img class="icon" src="~/Content/icons/transport.svg" alt="">
                <h2>Free Home delivery</h2>
                <p>At BookHub you will find free home delivery across the country.</p>
                <button class="btn btn-secondary">Read More</button>
            </div>
            <div class="service-card magic-shadow-sm">
                <img class="icon" src="~/Content/icons/bag.svg" alt="">
                <h2 class="text-primary">30 Days ReturnServices</h2>
                <p>at any problems you can return the book during this period.</p>
                <button class="btn btn-primary">Read More</button>
            </div>
            <div class="service-card magic-shadow-sm">
                <img class="icon" src="~/Content/icons/usd.svg" alt="">
                <h2>Money Back Guaranted</h2>
                <p>If there is any problem then you will get your full refund.</p>
                <button class="btn btn-secondary">Read More</button>
            </div>
        </div>
    </div>
</section>

<section class="latest-news">
    <div class="container">
        <h1 class="section-heading">Lastest News from Blog</h1>
        <div class="article-wrapper">
            <article class="card magic-shadow-sm">
                <div>
                    <img src="~/Content/images/blog1.jpg" alt="">
                </div>
                <div class="card-content">
                    <div class="post-meta flex items-center justify-between">
                        <span>July 03, 2017</span>
                        <div>
                            <span>Posted by <strong>BookHub</strong></span>
                            <span class="comment-count">12 Comments</span>
                        </div>
                    </div>

                    <h2>আজ ও আগামীকাল ‘একটি লৌকিক অথবা অলৌকিক স্টিমার’</h2>
                    <p>Iকরোনার নিউ নরমালে নতুন নাটক নিয়ে এলো ঢাকা থিয়েটার। ‘একটি লৌকিক অথবা অলৌকিক স্টিমার’ নামের নাটকটির উদ্বোধনী প্রদর্শনী হবে আজ ও আগামীকাল সন্ধ্যা সাড়ে ৬টায়, বাংলাদেশ শিল্পকলা একাডেমি'র জাতীয় নাট্যশালার মূল মঞ্চে।</p>
                </div>
            </article>
            <article class="card magic-shadow-sm">
                <div>
                    <img src="~/Content/images/blog3.jpg" alt="">
                </div>
                <div class="card-content">
                    <div class="post-meta flex items-center justify-between">
                        <span>July 03, 2017</span>
                        <div>
                            <span>Posted by <strong>BookHub</strong></span>
                            <span class="comment-count">15 Comments</span>
                        </div>
                    </div>

                    <h2>আজ বৃষ্টির মন খারাপ</h2>
                    <p>বৃষ্টি আমার কোনদিনই ভাল লাগে না । বিশেষ করে বর্ষাকালের প্যাঁনপ্যানে বৃষ্টিতে বিরক্ত ধরে যায় । আর বৃষ্টির সাথে আমার অঘোষিত একটা শত্রুতা ছিল সব সময় । আমার যখন আমার বাইরে যাওয়ার প্রয়োজন পড়তো কোন কাজে তখনই এই বদ।</p>
                </div>
            </article>
        </div>
        <div class="text-center btn-wrapper">
            <button class="btn btn-secondary">View All</button>
        </div>
    </div>
</section>

<section class="contact-us flex">
    <div class="contact-info-wrapper">
        <h1 class="section-heading">Contact us</h1>
        <div class="contact-info">
            <div>
                <div>
                    <img src="~/Content/icons/phone-2.svg" alt="">
                    <div>
                        <span>Call us:</span>
                        <span>(+880) 1789335777</span>
                    </div>
                </div>
                <div>
                    <img src="~/Content/icons/bag-2.svg" alt="">
                    <div>
                        <span>E-mail ::</span>
                        <span>support@BookHub.com</span>
                    </div>
                </div>
                <div>
                    <img src="~/Content/icons/clock-2.svg" alt="">
                    <div>
                        <span>Working Hours:</span>
                        <span>Sat - Thu (10.00am - 8.00pm)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14608.039147951979!2d90.36710722770383!3d23.747030403454715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b8b33cffc3fb%3A0x4a826f475fd312af!2sDhanmondi%2C%20Dhaka%201205!5e0!3m2!1sen!2sbd!4v1617459684428!5m2!1sen!2sbd"
                width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</section>

