body {
    background: #ffd800
}

.height-100 {
    height: 100vh
}

.card {
    width: 100%;
    border: none;
    height: 250px;
    max-width: 380px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
    justify-content: center;
    transition: all ease 0.4s
}

    .card img {
        transition: all ease 0.4s
    }

    .card:hover img {
        margin-top: -80px
    }

    .card .content {
        width: 100%;
        background: #fff;
        position: absolute;
        bottom: -60%;
        margin-left: -8px;
        transition: all ease 0.5s;
        border-radius: 4px;
        box-shadow: 0px -3px 4px rgba(10, 10, 10, 0.09)
    }

        .card .content .category {
            font-size: 14px;
            font-weight: 500
        }

        .card .content .price {
            font-size: 17px;
            font-weight: 500;
            color: #eebf00;
        }

        .card .content p {
            font-weight: 600;
            font-size: 17px
        }

    .card:hover .content {
        bottom: 0%
    }

.buttons button {
    border-radius: 1px;
    margin-bottom: 10px;
    transition: all ease 0.3s
}

.content {
    padding: 10px
}
